div{
    margin-top:15px;
    margin-left:50px;  
}
input,label,select,textarea{
    margin-top: 20px;
    margin-left: 30px;
}
input{
    width: 80%;
    height:40px;
}
textarea{
    width: 80%;
    height:100px;
    resize: none;
    overflow:auto;
}
small{
    margin-left: 15px;
}
h3{
    margin-top:20px;
    margin-left: 320px;
    text-align: center;
    background-color: lightskyblue;
    border: 2px solid black;
    width: 50%;
    height: 50px;
}
.timesheet-container{
    margin-top: 70px;
}
.form-container{
    margin-left: 320px;
    border: 2px solid black;
    width:50% ;
    background-color: coral;
    margin-bottom: 20px;
}
.btn{
    margin: 10px 0px;
    margin-left: 110px;
}

.head {
    color: white;
    margin-top:0px;
    text-align: right;
    display: inline
}
h2{
    margin-right: 20px;
    float: right;
}
nav,nav button{
    float: left;
}