.head {
    color: white;
    text-align: center;
}

h2 {
    margin-right: 20px;
}

span {
    margin-left: 500px;
}

.options {
    display: inline;
}

button {
    float: right;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 15px;
}

nav,nav button {
    margin-left: 20px;
    float: left;
}

table,th,tr,td {
    margin: 15px;
    text-align: center;
    border: 1px solid black;
}

.emp {
    margin-left: 100px;
}

td {
    width: 20px;
    resize: none;
}

th {
    font-size: large;
}

table {
    width: 98%
}

td button {
    float: none;
}