<div class="head ">
    <h2 class="pt-1">
        <button class="btn btn-primary" *ngIf="!employeeService.loggedIn()" (click)="logout()">Login</button>
        <button class="btn btn-primary" *ngIf="employeeService.loggedIn()" (click)="employeeService.logout()">Logout</button>
    </h2>
</div>
<div class="body-container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <h5>Add new Timesheet</h5>
        <button class="btn btn-success" (click)="createTimeSheet()">Create</button>
        <div class="emp" *ngIf="show">
            <h5>Employees List</h5>
            <button class="btn btn-success" (click)="viewEmployees()">View</button>
        </div>
    </nav>
    <!-- <span>Add new Timesheet</span><button class="create-btn" (click)="createTimeSheet()">Create</button><br><br> -->
    <table class="table table-striped table-hover">
        <thead class="table table-dark">
            <tr>
                <th>Project Name</th>
                <th>Date</th>
                <th>TimeSheet</th>
                <th>Added By</th>
                <th>Description</th>
                <th>Duration (In Hrs) </th>
                <th>Edit Sheet</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ts of timesheetService.timesheets">
                <td>{{ts.project_name}}</td>
                <td>{{ts.date | date}}</td>
                <td>{{ts.timesheet_name}}</td>
                <td>{{ts.addedBy}}</td>
                <td>{{ts.description}}</td>
                <td>{{ts.duration}}</td>
                <td><button class="btn btn-warning btn-sm" (click)="editTimeSheet(ts)">Edit</button>
                    <button class="btn btn-danger btn-sm" (click)="deleteTimeSheet(ts)">Delete</button>
                </td>
            </tr>            
        </tbody>
    </table>
    <div #noData *ngIf="visible" class="text-center p-2">No datas to display</div>
</div>